@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

html,
body {
  margin: 0;
  height: 100%;
  transition: background-color 1.5s;
}

/* SCROLL CONTAINER */
.scroller {
  height: 100vh;
  overflow: hidden; /* Lenis handles scroll */
}

/* PANELS */
.panel {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.dark {
  color: white;
}

/* BODY BACKGROUND COLORS */
body.color-white {
  background: #fff;
}

body.color-black {
  background: #000;
}

/* Gradient Headings */
.gradient-blue-black {
  background: linear-gradient(90deg, #9bc6f1 0%, #0a0a0e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.gradient-blue-white {
  background: linear-gradient(90deg, #9bc6f1 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Animated Border  */

.gradient-border {
  --borderWidth: 5px;
  position: relative;
  border-radius: 7px;
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f49891,
    #c5106b,
    #543871,
    #6b7fd3,
    #a1b6ee,
    #b49ed6
  );
  border-radius: 5px;
  z-index: -1;
  animation: animatedgradient 6s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Contact Gradient Border */

.contactGradientBorder {
  --borderWidth: 5px;
  position: relative;
  border-radius: 24px;
}
.contactGradientBorder:after {
  content: "";
  position: absolute;
  top: calc(0 * var(--borderWidth));
  left: calc(-1.5 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 1.5);
  width: calc(100% + var(--borderWidth) * 3);
  background: linear-gradient(
    60deg,
    #f49891,
    #c5106b,
    #543871,
    #6b7fd3,
    #a1b6ee,
    #b49ed6
  );
  border-radius: 24px;
  z-index: -1;
  animation: animatedgradient 6s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes contactAnimatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.services-section .contactGradientBorder:after {
  z-index: 0;
}
.services-section .contactGradientBorder {
  --borderWidth: 0px;
}

.hero {
  background-image: url("../public/images/fashion-model.webm");
}
.hero::after {
  background-image: url("../public/images/hero-gradient.webp");
  position: absolute;
  inset: 0;
  content: "";
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  z-index: 1;
}

/* Testimonials */
.custom-pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  width: 100%;
}

.custom-pagination .line {
  flex: 1;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
}

.custom-pagination .fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: white;
}

/* Our Process */

.gradientBorderLtoR::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 24px;
  background: linear-gradient(to right, rgba(0, 149, 255, 0.55), #0a0a0e);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.gradientBorderRtoL::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 24px;
  background: linear-gradient(to left, rgba(0, 149, 255, 0.55), #0a0a0e);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
