@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  transition: background-color 1.5s;
}

/* SCROLL CONTAINER */
.scroller {
  height: 100vh;
  overflow: hidden; /* Lenis handles scroll */
}

/* PANELS */
.panel {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.dark {
  color: white;
}

/* BODY BACKGROUND COLORS */
body.color-white {
  background: #fff;
}

body.color-black {
  background: #000;
}

/* Gradient Headings */
.gradient-blue-black {
    background: linear-gradient(90deg, #9BC6F1 0%, #0A0A0E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.gradient-blue-white{
    background: linear-gradient(90deg, #9BC6F1 0%, #ffffff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
}

/* Animated Border  */

.gradient-border {
  --borderWidth: 5px;
  position: relative;
  border-radius: 0;
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f49891,
    #c5106b,
    #543871,
    #6b7fd3,
    #a1b6ee,
    #b49ed6
  );
  border-radius: 0;
  z-index: -1;
  animation: animatedgradient 6s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.swiper-pagination{
  top: unset !important;
  bottom: 80px !important;

}